<div class="names">
    <h3>Names:</h3>
    #foreach ($name in $names)
    <div class="name">
        <p>$name</p>
    </div>
    #end
</div>

<a href="/one">One Random Name</a>
<a href="/two">Random Pair</a>
<a href="/random-a-tron/create">Add Name To List</a>
