<h3>Names:</h3>
<div class="names">
#foreach ($name in $names)
<p>$name</p>
#end
</div>

<a href="/one">One Random Name</a>
<a href="/two">Random Pair</a>
<a href="/random-a-tron/create">Add Name To List</a>
